.orders {
    width: 100%;
    padding: 10px;
    line-height: 35px;
    &__rows:nth-child(odd) {
        background-color: rgba(233, 229, 229, 0.63);
    }
    &__cells {
        padding: 10px 20px;
        color: grey;
    }
    &__header-cells {
        text-align: left;
        color: grey;
    }
    &__head {
        color: grey;
    }

}