.cart{
    display: flex;
    flex-direction: column;
    &__head{
        padding: 2rem;
        margin: 0 2rem;
        display: flex;
        //border-bottom: solid 1px rgb(218, 216, 216);
        color: grey;
    }
    &__items {
        padding: 0;
        width: 100%;
        list-style: none;
    }
    &__pic {
        width: 5rem;
    }
    &__card {
        display: flex;
        align-items: center;
        border-bottom: solid 1px rgba(128, 128, 128, 0.411);
    }
    &__left {
        padding: .5rem;
    }
    &__right {
        padding: .5rem;
    }
    &__bottom {
        display: flex;
        justify-content: space-between;
    }
    &__price {
        color: grey;
        font-size: small;
    }
    &__title {
        color: grey;
        font-size: small;
    }
    &__btn {
        text-align: center;
        height: fit-content;
        border: 0.1rem solid rgb(236, 8, 8);
        border-radius: 3px;
        background-color: transparent;
        color: rgb(236, 8, 8);
        padding: .75rem 2rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(236, 8, 8);
            color: white;
        }
        &__total{
            display: flex;
            justify-content: space-between;
            margin: 0 1rem;
        }
    }
}