.products {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    list-style-type: none;
    &__card{
        flex: 0 1 29rem;
        height: 47rem;
        padding: 1rem;
    }
    &__card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__pic {
        max-width: 37rem;
        max-height: 37rem;
    }
    &__card-detail {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__price {
        text-align: center;
        flex: 1;
        font-size: 2rem;
    }
    &__cart-add {
        text-align: center;
        flex: 1;
        border: 0.1rem solid rgb(236, 8, 8);
        border-radius: 3px;
        background-color: transparent;
        color: rgb(236, 8, 8);
        padding: 1rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(236, 8, 8);
            color: white;
        }
    }
}