.products {
    display: flex;
    flex-direction: column;
    &__heading {
        font-size: 2.5rem;
        color: grey;
        font-weight: normal;
    }
    &__title {
        color: grey;
    }
    &__name {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        flex-wrap: wrap;
        list-style-type: none;
    }
    &__card{
        flex: 0 1 29rem;
        height: 42rem;
        padding: 1rem;
        margin: 1rem;
        &:hover {
            box-shadow: -3px 3px 15px rgba(0, 0, 0, 0.233);
        }
    }
    &__card-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    &__pic {
        max-width: 30rem;
        max-height: 30rem;
    }
    &__card-detail {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__price {
        text-align: center;
        flex: 1;
        font-size: 2rem;
        color: grey;
    }
    &__cart-add {
        text-align: center;
        flex: 1;
        border: 0.1rem solid rgb(236, 8, 8);
        border-radius: 3px;
        background-color: transparent;
        color: rgb(236, 8, 8);
        padding: 1rem;
        cursor: pointer;
        &:hover {
            background-color: rgb(236, 8, 8);
            color: white;
        }
    }
}